body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url("./img/scott-webb-22420-unsplash.jpg");*/
  /*background-repeat: no-repeat;*/
  /**/
    /*background-size: cover;*/
}

.session-summary-card {
  margin-top: 16px;
}

.main-container {
  max-width: 500px;
  margin: 0 auto
}

.exercise-select {
  margin-top: 32px;
}

.exercise-select-button {
  margin-top: 16px;
}

.session-card {
  width: 100% !important;
}

body {
  padding-bottom: 32px;
}
.login-form{
  margin-top: 32px;
}
.exercise-table {
  margin-bottom: 32px;
}
.top-bar button {
  margin-top: 8px;
}
.top-bar {
  margin-bottom: 16px;
}

.session-card .card-text {
  line-height: 1;
  margin-bottom: 0;
}
.edit-button {
  margin-top: 8px;
}
